@model aspTest.Models.studentModel

@{
    ViewData["Title"] = "Create";
}



<h4>New Student Add Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="studentlist">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name" />
                <span asp-validation-for="Name" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" id="Class" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" id="btn" />
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>Action</th>
        </tr>
    </thead>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Class
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>@*id="studentList"

    </table>*@



@*<script>
        const name = document.querySelector("#name");
        const Class = document.querySelector("#Class");
        const btn = document.querySelector("#btn");
        const studentlist = document.querySelector("#studentList");

        btn.addEventListener('click', function (e) {
            e.preventDefault();

            if (name.value == '' && Class.value == '') {
                alert('Fill this form then Retry to submit!');
            }
            else {
                const newRow = document.createElement('tr');

                const newName = document.createElement('th');
                newName.innerHTML = name.value;
                newRow.appendChild(newName);

                const newClass = document.createElement('th');
                newClass.innerHTML = Class.value;
                newRow.appendChild(newClass);

                studentList.appendChild(newRow);
            }
        });
    </script>*@


